<!-- <footer class="footer ">
    <div class="container ">
        <div class="row ">
            <div class="col-4 offset-1 col-sm-2 ">
                <h5>Links</h5>
                <ul class="list-unstyled ">
                    <li><a href="# ">Home</a></li>
                    <li><a href="# ">Buyer</a></li>
                    <li><a href="# ">Seller</a></li>
                    <li><a href="# ">Contact</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5 ">
                <i class="fa fa-phone fa-lg "></i>: +852 1234 5678<br>
                <i class="fa fa-fax fa-lg "></i>: +852 8765 4321<br>
                <i class="fa fa-envelope fa-lg "></i>: webify2022@gmail.com<br>

                </address>
            </div>
            <div class="col-12 col-sm-4 ">
                <div class="text-center ">
                    <a class="btn btn-social-icon btn-google " href="http://google.com/+ ">Google</a>
                    <a class="btn btn-social-icon btn-facebook " href="http://www.facebook.com/profile.php?id=">Facebook</a>
                    <a class=" btn btn-social-icon btn-linkedin " href="http://www.linkedin.com/in/ ">Linkedin</a>
                    <a class="btn btn-social-icon btn-twitter " href="http://twitter.com/ ">Twitter</a>


                </div>

            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-auto ">
                <p>© Copyright Webify</p>
            </div>
        </div>
    </div>
</footer> -->


<footer class="footer">
    <div class="container">
        <div class="row my-3">             
            <div class="col-4 offset-1 col-sm-2">
                <h5 style="color:orange">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Buyer</a></li>
                    <li><a href="#">Seller</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <i class="fa fa-phone fa-lg"></i> : +852 1234 5678<br>
                  <i class="fa fa-fax fa-lg"></i> : +852 8765 4321<br>
                  <i class="fa fa-envelope fa-lg">: webify2022@gmail.com</i>: 
                  
               </address>
            </div>
            <div class="col-12 col-sm-4">
                <div class="text-center">
                    <i class="fa-brands fa-google"></i> <a href="http://google.com/+">Google</a> &nbsp;
                    <i class="fa-brands fa-facebook"></i><a href="http://www.facebook.com/profile.php?id=">Facebook</a> &nbsp;
                    <i class="fa-brands fa-linkedin-in"></i><a href="http://www.linkedin.com/in/">Linkedin</a> &nbsp;
                    <i class="fa-brands fa-twitter"></i><a href="http://twitter.com/">Twitter</a> &nbsp;
                   
               
                </div>

            </div>
       </div>
       <div class="row justify-content-center" >             
            <div class="col-auto">
                <p style="text-align:center ;">© Copyright</p>
            </div>
       </div>
    </div>
</footer>



<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="node_modules/jquery/dist/jquery.slim.min.js "></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js "></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js "></script>