<%- include("header"); -%>
    <!-- <h1>Home </h1> -->


    <!-- sudipas code -->

    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Martel:wght@700&family=Raleway:wght@900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Serif:wght@300&family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">


        <!--font awesome icons-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>


        <!-- Bootstrap CSS -->
        <link href="css/homestyle.css" rel="stylesheet">
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js ">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        
         <!-- CSS Stylesheets -->
        <!-- <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css " integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm " crossorigin="anonymous ">
        <link rel="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css "> -->
       
    </head>

    <body>
       
        <!----- <nav class=" navbar navbar-dark navbar-expand-sm bg--primary fixed-top ">
            <div class="container ">
                <a class="navbar-brand mr-auto " href="# ">WEBIFY</a>

                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item active "><a class="nav-link " href="# ">Home</a></li>
                    <li class="nav-item "><a class="nav-link " href="byer.ejs ">Buyer</a></li>
                    <li class="nav-item "><a class="nav-link " href="# ">Seller</a></li>
                    <li class="nav-item "><a class="nav-link " href="# ">Contact</a></li>
                </ul>
            </div>
            <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#Navbar ">
         <span class="navbar-toggler-icon "></span>
        
     </button>

        </nav> --->
        <div class="section">
            <div class="row ">
                <div class="col-xl-6 col-lg-6 col-md-6"  height ="80px">
    
                    <h1 class="big-heading">WEBIFY</h1>
                    <h2 class="para">The easiest way to buy and sell in India !</h2>
                   
                    <h2 class="para">Build an online business no matter what business you're in</h1>
                        <br>
                        <a role="button" class="btn btn-primary btn-lg" href="/base"><i class="fa-solid fa-right-to-bracket "></i>LOGIN</a>
                        <a role="button" class="btn btn-primary btn-lg" href="/signup"><i class="fab fa-google-play "></i>SIGNUP</a>
                       
                      
                </div>
                </div>
                <div class="row row-content">
                <div class="col-lg-6 offset-1">
                     </div>
                </div>
               
        </div>
    <!-----<section class="intro-header" height="100px">
     <div class="conatiner">
            <div class="row row-content align-items-center ">
                <div class="col-12 col-sm-3 col-md-3 " height="60px">
                    <h2 class="para-intro">For Sellers !!</h2>
                    <br><br>
                </div>
                <div class="col col-sm col-md " id="sellertext">

                    <p>We provide customizable websites for sellers, that are super easy to set up and maintain. With a network of more than 10000+ clients, come and take your buisness to next level !!</p>
                </div>
            </div>
            <div class="row row-content align-items-center ">
                <div class="col-12 col-sm-3 col-md-3 ">
                    <h2 class="para-intro">For Buyers !!</h2>
                </div>
                <div class="col col-sm col-md" id="buyertext">
                    <p>We have got all you need in one place !! With so many options to shop from, Why are you waiting still ??</p>
                </div>
            </div>
            </div>
            
        </section>---->
        <div class="intro">
        <div class="container">
            <div class="row row-content align-items-center">
                <div class="col-12  col-sm-4 col-md-3">
                    <div class="media">
                        <img class="d-flex mr-3 img-thumbnail align-self-center"
                                src="images/seller.png" alt="seller">
                  
                </div>
                </div>
                <div class="col col-sm  col-md">     
                    <div class="media-body">
                       
                        <p >We provide customizable websites for sellers, that are super easy to set up and maintain.<br> With a network of more than 10000+ clients, come and take your buisness to next level !!</p>
          
                    
                    </div>
                </div>
    </div>
            
            
    
    
            <div class="row row-content align-items-center">
                <div class="col-12  col-sm-4 col-md-3">
                    <div class="media">
                        <img class="d-flex mr-3 img-thumbnail align-self-center"
                                src="images/buyer.jpg" alt="buyer">
                  
                </div>
                </div>
                <div class="col col-sm  col-md">
                    
                    
                        <div class="media-body">
                            <p >For Buyers we have got all you need in one place !!<br> With so many options to shop from, Why are you waiting still ??</p>
               
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
       <!---- <div class="container">
            <div class="white-section">
                
            </div>
        </div>
        <div class="container">
            
      <div class="card-deck">
            <div class="card" height="40px" width="30px">
              <img class="card-img-top"  src="/images/seller.png" alt="seller-icon">
              <div class="card-body">
                <h5 class="card-title">Sellers</h5>
                <p class="card-text">We provide customizable websites for sellers, that are super easy to set up and maintain. With a network of more than 10000+ clients, come and take your buisness to next level !!</p>
          
              </div>
            </div>
            <div class="card " height="40px" width="30px">
              <img class="card-img-top" src="/images/buyer.jpg" alt="buyer-icon">
              <div class="card-body">
                <h5 class="card-title">Buyers</h5>
                <p class="card-text">We have got all you need in one place !! With so many options to shop from, Why are you waiting still ??</p>
               </div>
              </div>
            </div>
            </div>
            <div class="row">
                <div class="column">
                  <div class="card">
                    <img class="card-img-top"  src="/images/seller.png" alt="seller-icon">
                    <div class="card-body">
                        <h5 class="card-title">Sellers</h5>
                        <p class="card-text">We provide customizable websites for sellers, that are super easy to set up and maintain. With a network of more than 10000+ clients, come and take your buisness to next level !!</p>

                  </div>
                </div>
                
                  <div class="card">
                    <img class="card-img-top" src="/images/buyer.jpg" alt="buyer-icon">
                    <div class="card-body">
                      <h5 class="card-title">Buyers</h5>
                      <p class="card-text">We have got all you need in one place !! With so many options to shop from, Why are you waiting still ??</p>
                     
                  </div>
                </div>
            </div>
            </div>
            </div>-->
      
            <section class="white-section " id="features ">
                <div class="container">

                    <div class="row ">
                        <div class="feature-box col-lg-4 ">
                            <i class='icon fas fa-check-circle ' style='font-size:48px '></i>
                            <h3 class="feature-title ">Choose & Customise a theme</h3>
                            <p class="para">Customize the design of your shop from over thousands of themes. No design experience or programming skills required.</p>
                        </div>

                        <div class="feature-box col-lg-4 ">
                            <i class='icon fas fa-cart-plus ' style='font-size:48px '></i>
                            <h3 class="feature-title ">Add products</h3>
                            <p class="para">Add your products to the shop. List your eye-catching products with the best photos, price and descriptions. </p>
                        </div>

                        <div class="feature-box col-lg-4 ">
                            <i class='icon fab fa-bitcoin ' style='font-size:48px '></i>
                            <h3 class="feature-title ">Start selling </h3>
                            <p class="para">Set up payments and shipping, and start selling.</p>
                        </div>
                    </div>


                </div> 
            </section>
           

            <!-- <div class="row row-content align-items-center ">
                <div class="col-12 col-sm-4 col-md-3 ">
                    <h2>Reviews</h2>
                </div>
                <div class="col col-sm col-md ">
                    <div id="carouselExampleIndicators " class="carousel slide " data-ride="carousel ">
                        <ol class="carousel-indicators ">
                            <li data-target="#carouselExampleIndicators " data-slide-to="0 " class="active "></li>
                            <li data-target="#carouselExampleIndicators " data-slide-to="1 "></li>
                            <li data-target="#carouselExampleIndicators " data-slide-to="2 "></li>
                        </ol>
                        <div class="carousel-inner ">
                            <div class="carousel-item active ">
                                <img class="d-block w-100 " src="... " alt="First slide ">
                            </div>
                            <div class="carousel-item ">
                                <img class="d-block w-100 " src="... " alt="Second slide ">
                            </div>
                            <div class="carousel-item ">
                                <img class="d-block w-100 " src="... " alt="Third slide ">
                            </div>
                        </div>
                        <a class="carousel-control-prev " href="#carouselExampleIndicators " role="button " data-slide="prev ">
                            <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                            <span class="sr-only ">Previous</span>
                        </a>
                        <a class="carousel-control-next " href="#carouselExampleIndicators " role="button " data-slide="next ">
                            <span class="carousel-control-next-icon " aria-hidden="true "></span>
                            <span class="sr-only ">Next</span>
                        </a>
                    </div>
                </div>

            </div> -->

        </div>
        <!--container ends-->



        



        </div>
        <!-- <footer class="footer ">
            <div class="container ">
                <div class="row ">
                    <div class="col-4 offset-1 col-sm-2 ">
                        <h5>Links</h5>
                        <ul class="list-unstyled ">
                            <li><a href="# ">Home</a></li>
                            <li><a href="# ">Buyer</a></li>
                            <li><a href="# ">Seller</a></li>
                            <li><a href="# ">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-7 col-sm-5 ">
                        <i class="fa fa-phone fa-lg "></i>: +852 1234 5678<br>
                        <i class="fa fa-fax fa-lg "></i>: +852 8765 4321<br>
                        <i class="fa fa-envelope fa-lg "></i>:

                        </address>
                    </div>
                    <div class="col-12 col-sm-4 ">
                        <div class="text-center ">
                            <a class="btn btn-social-icon btn-google " href="http://google.com/+ ">Google</a>
                            <a class="btn btn-social-icon btn-facebook " href="http://www.facebook.com/profile.php?id=">Facebook</a>
                            <a class=" btn btn-social-icon btn-linkedin " href="http://www.linkedin.com/in/ ">Linkedin</a>
                            <a class="btn btn-social-icon btn-twitter " href="http://twitter.com/ ">Twitter</a>


                        </div>

                    </div>
                </div>
                <div class="row justify-content-center ">
                    <div class="col-auto ">
                        <p>© Copyright Webify</p>
                    </div>
                </div>
            </div>
        </footer> -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
        <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
        <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script></body>
   
   
    <%- include("footer"); -%>