      
      /* .row-header {
    margin: 0px auto;
    padding: 0px;
} */
        /* .row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
} */
        /* .footer {
    background-color: #c2b3dd;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
} */
        
<<<<<<< HEAD
       
        .section{
            background-color: black;
            background: url(../images/black-friday-elements-assortment.jpg);  
=======
        .jumbotron {
            padding: 70px 30px 70px 30px;
            margin: 0px auto;
            background: rgb(22, 113, 119) !important;
            color: rgb(10, 7, 1);
            margin-bottom: 50px;
            
            background-image: url(/images/webify.jpg);
>>>>>>> c68a6c3 (finalcmt)
            background-repeat: no-repeat;
           
            background-size: cover;
           
          
          
           color : wheat;
        }
/* 
        #banner{
            background-image: url(/images/webify.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        } */


        /* address {
            font-size: 80%;
            margin: 0px;
            color: #0f0f0f;
        } */
        
<<<<<<< HEAD
       
=======
        
>>>>>>> c68a6c3 (finalcmt)
        /* body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
} */
        /* .navbar-dark {
    background-color: rgb(10, 22, 99);
} */
        /* LS css */
        
<<<<<<< HEAD
        .big-heading
        {
            font-family: "Montserrat-Black";
            font-size: 10rem;
            line-height: 1.5;
            color:#000000;
            font-weight: 1000;
            text-align: center;
          
        }
        .para
        {
            font-family: monospace;
            color:#000000;
            text-align: center;
            font-weight: 300;
=======
        .big-heading {
            /* font-family: 'Martel', serif; */
            font-family: "Montserrat-Black";
            font-size: 3.0rem;
            line-height: 1.5;
            padding-bottom: 20px;
        }

        #textpart{
            padding-top: 20px;
            margin-top: 20px;
>>>>>>> c68a6c3 (finalcmt)
        }
        
        .section-heading {
            font-size: 3rem;
            line-height: 1.5;
        }
        .intro-header
        {
            background-color: #140670;
            color:#ffffff;
        }
        .para-intro
        {
            font-family: monospace;
            color:#ffffff;
            text-align: center;
            font-weight: 300;
        }
        .title-image {
            width: 100%;
            opacity: 60%;
            width: 600px;
            height: 400px;
            margin-right: 100px;
            margin-left: 0%;
            padding-top: 0%;
        }
        
        /* .download-button {
            margin: 5% 3% 5% 0;
        } */
        

        #title .container-fluid {
            padding: 3% 15% 7%;
        }
        /*  */
        .colored-section {
            background-color: #216ec7;
            max-height: fit-content;
            /* color: #fff; */

            background-image: url(/images/webifyhome4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .card-image-top
        {
            height: 20px;
            width: 40%;
        }
        .download-button {
            margin: 5% 3% 5% 0;
        }
        
        .col-lg-6 {
            /* padding: 50px; */
            font-family: "Montserrat";
           text-align: center;
        }
<<<<<<< HEAD
        .media{
            padding-top: 20px;
            padding-bottom: 30px;
        }
        
       .media-body
       {
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           padding-top: 60px;
           padding-bottom: 50px;
           padding-left: 20px;
           padding-right: 20px;
        font-size: 20px;
        font-weight: 200;
        color: white;
       
       }
       .intro
       {
           background-color: #0d0447;
       }
          
        /* .container-fluid {
=======

        
        .container-fluid {
>>>>>>> c68a6c3 (finalcmt)
            padding: 7% 15%;
           
        }
        /* Features Section */
        
        .white-section {
<<<<<<< HEAD
            background-color :rgb(245, 164, 66);
=======
           
           margin: 30px;
           padding: 0px;
           height: 350px;
>>>>>>> c68a6c3 (finalcmt)
        }
        .tables{
            background-color: rgb(219, 233, 228);
          padding-left: 30px;
        }

        .sec2{
            /* background: rgb(22, 113, 119) !important; */
        }

        #features {
            position:relative;
        }
        
        .feature-title {
            padding-left: 5px;
            align-items: center;
            font-size: 3 rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 500;
        }
        
        .feature-box {
            padding: 4.5%;
        }
        
        .icon {
            padding-left: 80px;
            align-items: center;
            color: #083041;
            margin-bottom: 1rem;
        }
        
        .icon:hover {
            color: #2f16d2;
        }
        
        #buyertext {
            font-size: 17px;
            /* font-family: 'Lora', serif; */
            font-family: 'IBM Plex Serif', serif;
        }
        
        #sellertext {
            font-size: 17px;
            /* font-family: 'Lora', serif; */
            font-family: 'IBM Plex Serif', serif;
        }
        
        .contain {
            /* margin-top: 50px; */
        }
        
        #webify {
            font-family: 'Anton', sans-serif;
        }
        
        #cont {
            font-family: 'Martel', sans-serif;
        }


        h2{
            font-weight: 100;
        }

        a{
            margin-right: 0%;
            padding: 0%;
            color: black;
        }

        #sec2{
            margin: 100px;
        }

        #webify{
            padding: 20px;
            font-size: 150px;
            margin-top: 30px;
          
        }

        #cont{
            padding: 20px;
            font-size: 30px;
            color: aliceblue;
        }

        #bannerimg{
            width: 360px;
            height: 300px;
            margin-left: 50px;
            padding-left: 100px;
        }